    /* For tablets: */
/* Body */
.error{
    color: red;
}
* {
    box-sizing: border-box;
}
body {
    background: #161a1b;
    margin: 0px;
    color: white;
	overflow-x:hidden;
}
p {
    text-align: justify;
}
img{
	max-width: 100%;
}
a{
	color: white !important;
}
.clearfix {
    clear: both;
}
.pagebody .content-container{
	padding-top: 0;
}
.content-container{
	width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0px;
}
.pageheader {
    border-bottom: 2px solid #2c97b6;
	border-top: 2px solid #2c97b6;
    padding: 30px 0;
}
.pageheader h1 {
    margin: 0 !important;
}
.pagecontent {
    padding-top: 15px;
}
.blueline {
    margin: 0 0 30px;
}
.blueline:after {
    content: "";
    display: block;
    bottom: 0;
    width: 50px;
    height: 2px;
    background: #38cbf5;
    margin-top: 10px;
}
/* Header */
.header .content-container{
	padding-bottom: 0;
}
.branding{
	margin-bottom: 40px;
}
.btn-login button{
	margin-bottom: 15px
}
.login-links a{
	float: left;
	margin-left: 15px;
}
.login-links a:hover,
.footer li a:hover,
.dentistssetappt a:hover {
    color: #80f960 !important;
    text-decoration: none;
}
/* Navigation */
#nav-mobile{
    display: block!important;
}
#nav-regular{
	display: none!important;
}
nav {
	margin-bottom: 0 !important;
	border: none !important;
}
.navigation .content-container{
	padding: 0;
}
nav .navbar-toggle{
	float: none;
	margin: 10px 0;
}
nav button,
.nav li a:hover,
.nav li.active a,
.btn.btn-cstm{
	background-image: linear-gradient(to bottom,#38cbf5 0,#2c97b6 100%)!important;
	background-repeat: repeat-x!important;
    border-color: #2c97b6!important;
}
.navbar-toggle p{
	margin: 0;
}
.nav li {
	margin: 10px 0;
}
nav .icon-bar{
	background: white;
}
nav .navbar-collapsed{
	padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
	border-top: 1px solid #2c97b6;
    border-bottom: 1px solid #2c97b6;
}
.form-group{
    padding-right: 10px;
}
.indention{
	margin-left:50px;
}
/* Home */
.home-carousel{
    padding: 30px 30px 0;
}


/* Registration */
form#login{
    margin-bottom: 0 !important;
}
form {
    margin-bottom: 30px;
}
.regform .form-group-half {
    width: 50%;
    padding-right: 10px;
}
.regform .birthdate select {
    width: 30%;
}
.regform .inputmodified{
	width: 100%;
}
.regform .form-group,
.regform .birthdate select{
	float: left;
}
.regform input,
.regform select{
	width: auto;
}
.selectWidth {
    margin-right:10px;
}
/* Password Reset */
.pwfrom .form-group {
    padding-right: 10px;
}
/* Testimonials */
.testimonials{
	border: #2c97b6 1px solid;
    padding: 20px;
    margin-bottom: 20px;
	border-radius: 8px;
    width: 23%;
    background: #38cbf5;
    margin-right: 2%;
    float: left;
    color: black;
}
.testi-heading{
    margin-top: 0 !important;
    margin-bottom: 10px;
}
.testi-name {
    text-align: right;
}
/* Dentists */
.dentistssetappt {
    padding: 20px;
    background-image: linear-gradient(to bottom,#38cbf5 0,#2c97b6 100%);
}
.dentistssetappt h3 {
    margin: 0!important;
	text-decoration: underline;
}
.dentiststeam {
    padding-top: 30px;
}
.dentistsprofile{
	margin: 0 auto 30px;
}
.dentistsprofile p{
	text-align: center;
}
.dentistphoto{
	max-width: 225px;
	height: auto;
	margin: 0 auto 30px;
	
}
.dentistphoto h4 {
    text-align: center;
    padding: 20px 0;
    margin: 0;
	background-image: linear-gradient(to bottom,#38cbf5 0,#2c97b6 100%);
}
/* Clinics */
.gmap {
    height: 400px;
	margin-bottom: 30px;
}
.locationinfo div{
	margin-bottom: 30px;
}
/* Services */


/* Footer */
.footer{
	background-image: linear-gradient(to bottom,#38cbf5 0,#2c97b6 100%);
}
.footer .content-container{
	padding: 10px 0px !important;
}
.footer-nav{
	padding: 0;
	margin: 0;
	list-style: none;
}
.footer-nav li{
	margin-bottom: 10px;
}
.column1,
.column2,
.column3{
	width: 30%;
	float: left;
	margin-right: 3%;
}
.column2 img{
	width: 20px;
	height: auto;
	float: left;
	margin-right: 5px;
}
@media only screen and (min-width: 600px) {
    /* -------------------------------For tablets:------------------------------- */
/* Header */
.login .form-group{
	width: 50%;
	float: right;
	clear: both;
}
.login .btn-login{
	float: right;
	padding-right: 10px;
}
.login-links a {
    float: right;
    margin-right: 15px;
	margin-left: 0;
}
/* Navigation */
#nav-mobile{
    display: none !important;
}
#nav-regular{
	display: block!important;
}
#nav-regular li {
    float: left;	
}
#nav-regular .navbar-content{
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid #2c97b6;
}
#nav-regular .navbar-nav {
    margin: 0;
}
/* Testimonials */
.user-image{
	float: left;
    margin-bottom: 0;
    margin-right: 20px;
}
.testimonials .testi-body {
	overflow: hidden;
}
}
@media only screen and (min-width: 768px) {
    /* -------------------------------For desktop:------------------------------- */
/* Header */
.branding {
    /*width: 40%;*/
    float: left;
}
.login_form{
    width: 50%;
    float: right;
}
header .error{
    float: right !important;
    padding-right: 10px !important;
}
.login .form-group {
    width: 40%;
    float: left;
    clear: none;
}
.login .btn-login {
    clear: none;
}
/* Dentists */
.dentistsprofile {
	width: 33.33%;
    float: left;
}
/*FAST CODED*/
.branding {
    width: 30%;
}
.login .form-group {
    width: 50%;
    float: right;
    clear: both;
}
.login .btn-login{
    float: right;
    clear: both;
}
.login-links{
    float: right;
}
.login-links a{
    float: left;
}
.loggedname{
    float: right;
    margin-right: 15px;
}
.show_patients,
.show_appt{
    width: 100%;
}
.show_patients th,
.show_appt th  {
    background-image: linear-gradient(to bottom,#38cbf5 0,#2c97b6 100%);
    padding: 10px;
}
.show_patients .resultsrow td,
.show_appt .resultsrow td {
    padding: 10px;
    border: 1px white solid;
}
.search_again{
    margin-bottom: 30px;
}
}