.login-links a:hover,
.site_nav a:hover {
    color: #80f960;
    text-decoration: none;
}
.nav li.active a {
    background-image: linear-gradient(to bottom,#38cbf5 0,#2c97b6 100%);
	background-repeat: repeat-x;
    border-color: #2c97b6;
}
.nav li a:hover {
    background-image: linear-gradient(to bottom,#38cbf5 0,#2c97b6 100%);
	background-repeat: repeat-x;
    border-color: #2c97b6;
}
.setappt a:hover {
    color: #333;
    text-decoration: none;
}
.header.dentists p {
    margin-bottom: 30px;
    margin-top: 0;
}
.dentistprof h4 {
    text-align: center;
    padding: 20px 0;
    margin: 0;
	background-image: linear-gradient(to bottom,#38cbf5 0,#2c97b6 100%);
}

