
.dentistssetappt a:hover {
    color: #333;
    text-decoration: none;
}
.header.dentists p {
    margin-bottom: 30px;
    margin-top: 0;
}
.dentistprof h4 {
    text-align: center;
    padding: 20px 0;
    margin: 0;
	background-image: linear-gradient(to bottom,#38cbf5 0,#2c97b6 100%);
}

